body{
    background-image: url(../imagen/fondo2.jpg); /* para poner imagen de fondo */
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center;
    background-attachment: fixed;}
    
h2{text-shadow: 1px 1px 1px rgb(114, 134, 93)}
h2{font-size: 30px; text-align: center; color: rgb(235, 221, 187);
    background-color: rgb(98, 50, 15)}
p{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
     sans-serif;font-size: 20px; ;}
label{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px; color: rgb(0, 0, 0);}


input[type="text"], input[type="date"], input[type="email"], input[type="tel"], 
input[type="Genero"]{
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(202, 147, 7);
    border-radius: 20px;}

input[type="number"]{ width: 9%;
    padding: 10px 10px;
    margin: 7px 0;
    box-sizing: border-box;
    border: 2px solid rgb(202, 147, 7);
    border-radius: 20px;}

input[type="submit"]{
    background-color: rgb(149, 110, 33);
    color: white; /* Texto blanco */ 
    width: 20%;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid  rgb(202, 147, 7) ;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;}

input[type="submit"]:active { /*EFECOT DE CLIP*/
    transform: scale(0.95);}

optgroup{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; color: rgb(32, 14, 14);}


select {
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(202, 147, 7);
    border-radius: 20px;
    font-family: 'Arial 'sans-serif;
    }
    
select:hover {
    background-color: rgb(211, 177, 91); /* Fondo cambia al pasar el mouse */
    cursor: pointer; /* Cambiar el cursor */
    }


input[type="radio"] {
    accent-color: #926307; /* Cambiar el color del botón */
    width: 17px; /* Tamaño más grande */
    height: 15px;
    margin: 7px 0; /* Espacio entre los botones */
    cursor: pointer;}
input[type="radio"]:hover {
    box-shadow: 0 0 9px rgba(200, 137, 10, 0.8); /* Efecto de resplandor */
    }


