h2{background-color: rgb(150, 90, 31); text-shadow: 4px 4px 30px rgb(179, 139, 139);
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; color: rgb(216, 186, 101);
     font-size: 40px; text-align: center;color: rgb(91, 12, 12);}

h3{background-color: rgb(150, 90, 31); text-shadow: 4px 4px 30px rgb(179, 139, 139);
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; color: rgb(216, 186, 101);
     font-size: 30px; text-align: center;}
p{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
     sans-serif;font-size: 20px; text-align: center; color: brown;}
img{border-radius: 6cqb;}
img{border: 2px solid rgb(146, 36, 36); box-shadow: 0 0 10px rgba(0,0,0,0.5);}
body{background-color: burlywood; text-align: center; font-family: 'Arial', sans-serif;}

div > a{color: rgb(255, 2, 65); font-size: 19px;}
a{color: saddlebrown; text-decoration: none; font-size: 20px; text-align: center;}
button{background-color:rgb(190, 169, 97); border: none; color: white; padding: 15px 32px; text-align: center;
     text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;}
button:hover{
     background-color: rgb(169, 146, 126);
     transform: scale(1.05);
     }
button:active {
     transform: scale(0.95);}

.highlight{
     font-size:100%;
     font-style:bold;color: rgb(1, 1, 1); text-decoration: none; text-align: center; font-family: 'Arial', sans-serif;
     background-color: rgb(150, 90, 31);
     }